{% extends '@Admin/base.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans({}, 'admin') }} - {{ parent() }}{% endblock %}

{% block header_title %}
    <h2 class="page-title">
        {{ 'title.dashboard'|trans({}, 'admin') }}
    </h2>
{% endblock %}

{% block header_breadcrumb %}
    <li class="breadcrumb-item active">
        <a href="{{ path('app_admin_dashboard') }}">{{ 'link.backend'|trans({}, 'admin') }}</a>
    </li>
{% endblock %}
