{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.confirm_password'|trans }} - {{ parent() }}{% endblock %}

{% block page_body %}
    <div class="container container-tight py-4">
        <twig:Card
            size="md"
        >
            <h2 class="text-center mb-4">{{ 'title.confirm_password'|trans }}</h2>
            <p class="text-secondary text-center mb-4">{{ 'text.confirm_password.intro'|trans }}</p>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_row(form.password) }}

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('confirm_password') }}" />

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">{{ 'label.confirm_password.submit'|trans }}</button>
                </div>
            </form>
        </twig:Card>
    </div>
{% endblock %}
