<span class="form-label d-block mb-1">{{ 'stats.analysis.chart_measure.label'|trans }}</span>
<div class="btn-group"
     role="group"
     aria-label="{{ 'stats.analysis.chart_measure.label'|trans }}"
     data-testid="stats-analysis-chart-measure">
    <a href="{{ toolbar.chartMeasureAbsoluteUrl }}"
       class="btn{% if toolbar.currentChartMeasure == 'absolute' %} active{% endif %}"
       data-testid="stats-analysis-chart-measure-absolute">
        {{ 'stats.analysis.chart_measure.absolute'|trans }}
    </a>
    <a href="{{ toolbar.chartMeasureShareUrl }}"
       class="btn{% if toolbar.currentChartMeasure == 'share' %} active{% endif %}"
       data-testid="stats-analysis-chart-measure-share">
        {{ 'stats.analysis.chart_measure.share'|trans }}
    </a>
</div>
