{% use 'bootstrap_5_layout.html.twig' %}

{%- block password_widget -%}
    <div data-controller="password-visibility"
         data-password-visibility-show-label-value="{{ 'label.password.show'|trans }}"
         data-password-visibility-hide-label-value="{{ 'label.password.hide'|trans }}">
        <div class="input-group">
            {%- set type = type|default('password') -%}
            {%- set attr = attr|merge({'data-password-visibility-target': 'input'}) -%}
            {{- block('form_widget_simple') -}}
            <button type="button"
                    class="btn"
                    data-password-visibility-target="toggle"
                    data-action="password-visibility#toggle"
                    aria-pressed="false"
                    aria-label="{{ 'label.password.show'|trans }}"
                    title="{{ 'label.password.show'|trans }}"
                    aria-controls="{{ id }}"
                    data-testid="password-toggle-{{ id }}">
                <span data-password-visibility-target="showIcon">
                    <twig:ux:icon name="tabler:eye" class="icon" />
                </span>
                <span class="d-none" data-password-visibility-target="hideIcon">
                    <twig:ux:icon name="tabler:eye-off" class="icon" />
                </span>
            </button>
        </div>
    </div>
{%- endblock password_widget -%}
