<div
    id="cookie-consent-banner"
    class="offcanvas offcanvas-bottom h-auto show"
    tabindex="-1"
    aria-modal="true"
    role="dialog"
>
    <form method="post" action="{{ path('app_cookie_banner') }}">
        <input type="hidden" name="cookie_consent_banner[_token]" value="{{ csrf_token('cookie_consent_banner') }}">
        <input type="hidden" name="cookie_consent_banner[target]" value="{{ app.request.requestUri }}">
        <div class="offcanvas-body">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <strong><span aria-hidden="true">🍪</span> {{ 'cookie.banner.title'|trans }}</strong> {{ 'cookie.banner.text'|trans }}
                        <a href="{{ path('app_cookie_preferences') }}">{{ 'cookie.banner.learn_more'|trans }}</a>
                    </div>
                    <div class="col-12 col-md-auto">
                        <button type="submit" name="cookie_consent_banner[essential]" value="1" class="btn btn-primary" data-bs-dismiss="offcanvas">
                            {{ 'cookie.banner.essential_only'|trans }}
                        </button>
                    </div>
                    <div class="col-12 col-md-auto">
                        <button type="submit" name="cookie_consent_banner[all]" value="1" class="btn btn-primary" data-bs-dismiss="offcanvas">
                            {{ 'cookie.banner.accept_all'|trans }}
                        </button>
                    </div>
                    <div class="col-12 col-md-auto">
                        <a class="btn btn-outline-secondary" href="{{ path('app_cookie_preferences') }}">
                            {{ 'cookie.banner.settings'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
