<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        &copy; 2025 <a href="https://github.com/nplhse/collaborative-ivena-statistics" class="link-secondary">collaborative-ivena-statistics</a>
                    </li>
                    {% for item in page_nav_footer_items() %}
                        <li class="list-inline-item">
                            <a href="{{ item.url }}" class="link-secondary">{{ item.label }}</a>
                        </li>
                    {% endfor %}
                    <li class="list-inline-item">
                        <a href="{{ path('app_cookie_preferences') }}" class="link-secondary">{{ 'link.cookie_preferences'|trans }}</a>
                    </li>
                    <li class="list-inline-item">
                        {{ app_version }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
