{% set route = app.request.attributes.get('_route') %}

<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item {{ route == 'app_stats_dashboard' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_dashboard') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:dashboard" style="height: 1.2em;" />
                                {{ 'link.stats.dashboard'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route starts with 'app_stats_analytics' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_analytics_library') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:chart-histogram" style="height: 1.2em;" />
                                {{ 'link.stats.analysis'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'app_stats_reports' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_reports') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:report-search" style="height: 1.2em;" />
                                {{ 'link.stats.reports'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route in ['app_stats_indication_insights', 'app_stats_indication_dashboard'] ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_indication_insights') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:search" style="height: 1.2em;" />
                                {{ 'link.stats.indication_insights'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'app_stats_benchmarking' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_benchmarking') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:scale" style="height: 1.2em;" />
                                {{ 'link.stats.benchmarking'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'app_stats_pivot_tables' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_pivot_tables') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:table" style="height: 1.2em;" />
                                {{ 'link.stats.pivot_tables'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'app_stats_case_flow' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_case_flow') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:route" style="height: 1.2em;" />
                                {{ 'link.stats.case_flow'|trans }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item {{ route == 'app_stats_hospital_population' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_stats_hospital_population') }}">
                            <span class="nav-link-title">
                                <twig:ux:icon name="tabler:building-hospital" style="height: 1.2em;" />
                                {{ 'link.stats.hospital_population'|trans }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
