{% extends '@Shared/_layout_vertical.html.twig' %}

{% block page_content %}
    {{ form_start(form) }}
        {% set listId = form.target.vars.id ~ '-datalist' %}
        {% set hiddenSelector = '#' ~ form.target.vars.id %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ 'title.indication.assign'|trans }}</h3>
                <p class="card-subtitle">{{ 'subtitle.indication.assign'|trans }}</p>

                {{ form_row(form.code) }}
                {{ form_row(form.name) }}

                {{ form_row(form.target_label, {
                    attr: form.target_label.vars.attr|merge({
                        list: listId,
                        value: initial_label ?? '',
                        'data-datalist-chooser-list-id-value': listId,
                        'data-datalist-chooser-hidden-selector-value': hiddenSelector,
                    }),
                }) }}

                <datalist id="{{ listId }}">
                    {% for row in datalist %}
                        <option value="{{ row.label }}" data-id="{{ row.id }}"></option>
                    {% endfor %}
                </datalist>

                {# das gemappte Hidden-Feld (ID) #}
                {{ form_widget(form.target) }}
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="{{ path('app_data_indication_list', {type: 'raw'}) }}" class="btn btn-link">{{ 'btn.cancel'|trans }}</a>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">{{ 'btn.save.changes'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
