{% set query = app.request.query.all %}
{% set hasCursor = app.request.query.get('cursor') %}

<div class="card-footer d-flex align-items-center">
    <div class="dropdown">
        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="me-1">
                {{ 'label.pagination_results'|trans({pageSize: paginator.pageSize}) }}
            </span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item{% if paginator.pageSize == 25 %} active{% endif %}"
               href="{{ path('app_explore_allocation_list', query|merge({limit: 25, cursor: null})) }}">
                {{ 'label.pagination_results'|trans({pageSize: 25}) }}
            </a>
            <a class="dropdown-item{% if paginator.pageSize == 50 %} active{% endif %}"
               href="{{ path('app_explore_allocation_list', query|merge({limit: 50, cursor: null})) }}">
                {{ 'label.pagination_results'|trans({pageSize: 50}) }}
            </a>
            <a class="dropdown-item{% if paginator.pageSize == 100 %} active{% endif %}"
               href="{{ path('app_explore_allocation_list', query|merge({limit: 100, cursor: null})) }}">
                {{ 'label.pagination_results'|trans({pageSize: 100}) }}
            </a>
        </div>
    </div>

    <ul class="pagination m-0 ms-auto">
        {% if hasCursor %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_explore_allocation_list', query|merge({cursor: null})) }}">
                    <twig:ux:icon name="tabler:chevron-left" width="1em" height="1em" />
                    {{ 'label.previous'|trans }}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <twig:ux:icon name="tabler:chevron-left" width="1em" height="1em" />
                    {{ 'label.previous'|trans }}
                </a>
            </li>
        {% endif %}

        {% if paginator.hasNextPage %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_explore_allocation_list', query|merge({cursor: paginator.nextCursor})) }}">
                    {{ 'label.next'|trans }}
                    <twig:ux:icon name="tabler:chevron-right" width="1em" height="1em" />
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    {{ 'label.next'|trans }}
                    <twig:ux:icon name="tabler:chevron-right" width="1em" height="1em" />
                </a>
            </li>
        {% endif %}
    </ul>
</div>
