<div {{ attributes }}>
    <div class="d-flex justify-content-end gap-2 mb-3 d-print-none" data-testid="stats-analysis-explorer-actions">
        {% if libraryUrl %}
            <a href="{{ libraryUrl }}"
               class="btn btn-outline-primary d-inline-flex align-items-center gap-1"
               data-testid="stats-analysis-explorer-library-link">
                <twig:ux:icon name="tabler:books" style="height: 1.2em;" />
                {{ 'stats.analysis_explorer.open_library'|trans }}
            </a>
        {% endif %}
        <button type="button"
                class="btn btn-outline-primary d-inline-flex align-items-center gap-1"
                data-bs-toggle="offcanvas"
                data-bs-target="#analysisExplorerEditDrawer"
                data-action="live#action"
                data-live-action-param="openEdit"
                data-testid="stats-analysis-explorer-edit-open">
            <twig:ux:icon name="tabler:pencil" class="icon icon-sm" />
            {{ 'stats.analysis_explorer.edit.button'|trans }}
        </button>
    </div>
    {{ include('@Statistics/analysis_explorer/_config_alert.html.twig') }}
    {{ include('@Statistics/analysis_explorer/_chart_card.html.twig') }}
    {{ include('@Statistics/analysis_explorer/_results_table.html.twig') }}
    {{ include('@Statistics/analysis_explorer/_edit_drawer.html.twig') }}
</div>
