{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.explore.index'|trans }} - {{ parent() }}{% endblock %}

{% block header %}
    {% embed '@Shared/_embeds/header.html.twig' %}
        {% block header_after %}
            {{ include(('@Shared/_includes/subnav_explore.html.twig')) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block page_header %}
    <div class="container-xl">
        <twig:Breadcrumbs :items="[
            { label: 'link.explore' }
        ]" />

        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    {% block page_intro %}
                        <h2 class="page-title">
                            {% block page_title %}{{ 'title.explore.index'|trans }}{% endblock %}
                        </h2>
                    {% endblock %}
                    {% block page_subtitle %}
                        <div id="result-count" class="text-body-secondary mt-1">
                            {{ 'label.explore.index.subtitle'|trans }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row g-3">
        <!-- Card: Allocations -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_allocation_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:list" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.allocations'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.allocations'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Assignments -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_assignment_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:archery-arrow" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.assignments'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.assignments'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Departments -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_department_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:folder-dollar" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.departments'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.departments'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: DispatchAreas -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_dispatch_area_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:map" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.dispatch_areas'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.dispatch_areas'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Hospitals -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_hospital_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:building-hospital" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.hospitals'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.hospitals'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Indications -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_indication_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:id" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.indications'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.indications'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Infections -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_infection_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:biohazard" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.infections'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.infections'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Occasions -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_occasion_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:affiliate" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.occasions'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.occasions'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card: Specialities -->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{{ path('app_explore_speciality_list') }}">
                <div class="card p-3 d-flex flex-row align-items-center">
                    <!-- Icon -->
                    <div class="me-3 text-primary">
                        <twig:ux:icon name="tabler:folder-pin" width="4em" height="4em" />
                    </div>
                    <!-- Text -->
                    <div>
                        <div class="h3 mb-0">{{ 'link.specialities'|trans }}</div>
                        <small class="text-muted">{{ 'label.link.specialities'|trans }}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
