{% set activePeriodLabel = statisticsHeadingPeriod %}

<div class="col-auto ms-auto d-print-none">
    <div class="btn-list">
        {% if statsShowFilterDrawer|default(false) %}
            {{ include('@Statistics/_filter_drawer_trigger.html.twig') }}
        {% endif %}

        {% if statsShowCompareLaunchButton|default(false) %}
            <button type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#{{ statsCompareLaunchModalId|default('stats-indication-compare-launch-modal') }}"
                    data-testid="stats-indication-compare-launch-button">
                <twig:ux:icon name="tabler:git-compare" class="icon icon-sm" />
                {{ 'stats.indication.compare.with'|trans }}
            </button>
        {% endif %}

        {% if statsShowCompareEditButton|default(false) %}
            <button type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#stats-indication-compare-edit-modal"
                    data-testid="stats-indication-compare-edit-button">
                <twig:ux:icon name="tabler:pencil" class="icon icon-sm" />
                {{ 'stats.indication.compare.edit'|trans }}
            </button>
        {% endif %}

        {{ include('@Statistics/_scope_controls.html.twig', {
            pageViewModel: {
                showScopeSecondaryPicker: statsShowScopeSecondaryPicker|default(false),
                scopePrimaryMenu: statsScopePrimaryMenu|default([]),
                scopeSecondaryMenu: statsScopeSecondaryMenu|default([]),
                scopePrimaryDropdownLabel: statsScopePrimaryDropdownLabel|default(statisticsHeadingScope),
                scopeSecondaryDropdownLabel: statsScopeSecondaryDropdownLabel|default(''),
            },
        }) }}

        {% if statsUseOverviewPeriodControls|default(false) %}
            {{ include('@Statistics/dashboard/_overview_period_controls.html.twig') }}
        {% else %}
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ activePeriodLabel }}
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item{% if statisticsFilter.period.value == 'all' %} active{% endif %}" href="{{ statsPeriodUrls.all }}">{{ 'stats.filter.period.all'|trans }}</a>
                    <a class="dropdown-item{% if statisticsFilter.period.value == 'all_time' %} active{% endif %}" href="{{ statsPeriodUrls.all_time }}">{{ 'stats.filter.period.all_time'|trans }}</a>
                    <a class="dropdown-item{% if statisticsFilter.period.value == 'year' %} active{% endif %}" href="{{ statsPeriodUrls.year }}">{{ 'stats.filter.period.year'|trans }}</a>
                    <a class="dropdown-item{% if statisticsFilter.period.value == 'quarter' %} active{% endif %}" href="{{ statsPeriodUrls.quarter|default('#') }}">{{ 'stats.filter.period.quarter'|trans }}</a>
                    <a class="dropdown-item{% if statisticsFilter.period.value == 'month' %} active{% endif %}" href="{{ statsPeriodUrls.month }}">{{ 'stats.filter.period.month'|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
