{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.hospital.edit'|trans({}, 'allocation') }} - {{ hospital.name }} - {{ parent() }}{% endblock %}

{% block page_header %}
    {{ include('@Allocation/hospitals/_hospital_edit_page_header.html.twig') }}
{% endblock %}

{% block page_body %}
    {% embed '@Allocation/hospitals/_edit_shell.html.twig' with {
        hospital: hospital,
        activeSection: '',
        activeAccessSubsection: 'overview',
    } %}
        {% block edit_card_title %}{{ 'label.hospital.access_grants.overview'|trans({}, 'messages') }}{% endblock %}
        {% block edit_card_actions %}
            <a class="btn btn-primary" href="{{ path('app_hospitals_edit_access_new', {id: hospital.id}) }}">{{ 'label.hospital_access_grants.add'|trans({}, 'messages') }}</a>
        {% endblock %}
        {% block edit_content %}
            {{ include('@Allocation/hospitals/_access_grants_matrix.html.twig', {
                grants: grants,
                assignablePermissions: assignablePermissions,
                hospital: hospital,
            }) }}
        {% endblock %}
        {% block edit_footer %}
            <a class="btn btn-link" href="{{ path('app_explore_hospital_show', {id: hospital.id}) }}">{{ 'label.hospital.back_to_profile'|trans({}, 'messages') }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
