<div class="col-12 col-md-3 border-end">
    <div class="card-body">
        <h4 class="subheader">{{ 'label.settings.my_account'|trans }}</h4>
        <div class="list-group list-group-transparent">
            <a class="list-group-item list-group-item-action d-flex align-items-center{{ active == 'account' ? ' active' : '' }}" href="{{ path('app_settings_index') }}">
                {{ 'label.settings.my_account'|trans }}
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center{{ active == 'email' ? ' active' : '' }}" href="{{ path('app_settings_email') }}">
                {{ 'label.settings.change_email'|trans }}
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center{{ active == 'password' ? ' active' : '' }}" href="{{ path('app_settings_password') }}">
                {{ 'label.settings.set_new_password'|trans }}
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center{{ active == 'notifications' ? ' active' : '' }}" href="{{ path('app_settings_notifications') }}">
                {{ 'label.settings.notifications'|trans }}
            </a>
        </div>
    </div>
</div>
