{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.settings.change_email'|trans }} - {{ parent() }}{% endblock %}

{% block page_header %}
    <div class="container-xl">
        <twig:Breadcrumbs
            :items="[
                { label: 'title.settings', path: path('app_settings_index') },
                { label: 'title.settings.change_email' },
            ]"
        />
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">{{ 'title.settings.change_email'|trans }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_body %}
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-md-3 border-end">
                        <div class="card-body">
                            <h4 class="subheader">{{ 'label.settings.my_account'|trans }}</h4>
                            <div class="list-group list-group-transparent">
                                <a class="list-group-item list-group-item-action d-flex align-items-center" href="{{ path('app_settings_index') }}">
                                    {{ 'label.settings.my_account'|trans }}
                                </a>
                                <a class="list-group-item list-group-item-action d-flex align-items-center active" href="{{ path('app_settings_email') }}">
                                    {{ 'label.settings.change_email'|trans }}
                                </a>
                                <a class="list-group-item list-group-item-action d-flex align-items-center" href="{{ path('app_settings_password') }}">
                                    {{ 'label.settings.set_new_password'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form_start(emailForm) }}
                        <div class="card-header">
                            <h3 class="card-title">{{ 'title.settings.change_email'|trans }}</h3>
                        </div>
                        <div class="card-body">
                            {{ form_row(emailForm.email) }}
                        </div>
                        <div class="card-footer d-flex justify-content-end gap-2">
                            <a class="btn btn-link" href="{{ path('app_settings_index') }}">{{ 'btn.cancel'|trans }}</a>
                            <button class="btn btn-primary">{{ 'label.settings.save_email'|trans }}</button>
                        </div>
                        {{ form_end(emailForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
