{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.import.new'|trans }} - {{ parent() }}{% endblock %}

{% block page_header %}
        <div class="container-xl">
            <twig:Breadcrumbs
                :items="[
                    { label: 'title.import.index', path: path('app_import_index') },
                    { label: 'title.import.new' }
                ]"
            />

            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        {% block page_intro %}
                            <h2 class="page-title">
                                {% block page_title %}{{ 'title.import.new'|trans }}{% endblock %}
                            </h2>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block page_content %}
    <div class="page-body">
        <div class="container-xl">
            <twig:Card>
                {{ form_start(form, {attr: {enctype: 'multipart/form-data'}}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.hospital) }}
                    {{ form_row(form.file) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </twig:Card>
        </div>
    </div>

{% endblock %}
