{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}{{ 'title.hospital.edit'|trans }} - {{ hospital.name }} - {{ parent() }}{% endblock %}

{% block page_header %}
    {{ include('@Allocation/hospitals/_hospital_edit_page_header.html.twig') }}
{% endblock %}

{% block page_body %}
    {% embed '@Allocation/hospitals/_edit_shell.html.twig' with {hospital: hospital, activeSection: activeSection} %}
        {% block edit_main %}
            {{ form_start(form) }}
            <div class="card-header">
                <h3 class="card-title">{{ 'title.hospital.edit'|trans }}</h3>
            </div>
            <div class="card-body">
                {% if activeSection == 'address' %}
                    <h4 id="address-information" class="subheader mb-3">{{ 'label.hospital.address_information'|trans }}</h4>
                    <div class="row g-3">
                        <div class="col-md-8">{{ form_row(form.address.street) }}</div>
                        <div class="col-md-4">{{ form_row(form.address.postalCode) }}</div>
                        <div class="col-md-6">{{ form_row(form.address.city) }}</div>
                        <div class="col-md-3">{{ form_row(form.address.state) }}</div>
                        <div class="col-md-3">{{ form_row(form.address.country) }}</div>
                    </div>
                {% else %}
                    <h4 id="general-information" class="subheader mb-3">{{ 'label.hospital.general_information'|trans }}</h4>
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">{{ form_row(form.name) }}</div>
                        <div class="col-md-3">{{ form_row(form.location) }}</div>
                        <div class="col-md-3">{{ form_row(form.tier) }}</div>
                        <div class="col-md-6">{{ form_row(form.dispatchArea) }}</div>
                        <div class="col-md-6">{{ form_row(form.state) }}</div>
                        <div class="col-md-4">{{ form_row(form.size) }}</div>
                        <div class="col-md-4">{{ form_row(form.beds) }}</div>
                        <div class="col-md-4 d-flex align-items-end">{{ form_row(form.isParticipating) }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="card-footer d-flex justify-content-end gap-2">
                <a class="btn btn-link" href="{{ path('app_explore_hospital_show', {id: hospital.id}) }}">{{ 'label.hospital.back_to_profile'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'btn.save.changes'|trans }}</button>
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
