{% extends '_layout_vertical.html.twig' %}

{% block title %}
    Transport Time – {{ scope_label(scope) }} – {{ parent() }}
{% endblock %}

{% block header %}
    {% embed '_embeds/header.html.twig' %}
        {% block header_after %}
            {{ include(('_includes/subnav_stats.html.twig')) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block page_body %}
    <div class="container-xl">

        <twig:Breadcrumbs :items="[
            { label: 'Statistics', path: path('app_stats_dashboard') },
            { label: 'Transport Time' }
        ]" />

        <div class="d-flex align-items-center mb-3">
            <h2 class="page-title me-auto">
                {{ scope_label(scope) }}
            </h2>

            <twig:ScopePicker
                :scope="scope"
            />

            <twig:GranularitySwitch
                :scope="scope"
                variant="dropdown"
                :showPeriod="true"
                :allowedOptions="['year', 'quarter', 'month', 'week']"
            />
        </div>

        <twig:TransportTimeChart
            :viewModel="viewModel"
            :view="view"
            height="260"
            :preset="currentPreset"
        />

        <twig:TransportTimeTable
            :viewModel="viewModel"
            :view="view"
        />

        <a id="{{ topAnchorId }}"></a>

        {# direkt danach die Controls-Card #}
        {% component 'TransportTimeControls' with {
            buckets: buckets,
            currentBucket: currentBucket,
            withProgress: withProgress,
            withPhysician: withPhysician,
            anchorId: topAnchorId,
        } %}{% endcomponent %}

        <div class="row row-cards mb-3">
            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="speciality"
                    :bucket="currentBucket"
                    title="Top Specialities"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>

            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="indication"
                    :bucket="currentBucket"
                    title="Top Indications"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>

            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="occasion"
                    :bucket="currentBucket"
                    title="Top Occasions"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>

            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="assignment"
                    :bucket="currentBucket"
                    title="Top Assignments"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>

            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="dispatch_area"
                    :bucket="currentBucket"
                    title="Top Dispatch Areas"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>

            <div class="col-sm-6 col-lg-6">
                <twig:TransportTimeDimTopList
                    :scope="scope"
                    dimType="state"
                    :bucket="currentBucket"
                    title="Top States"
                    :withPhysician="withPhysician"
                    :withProgress="withProgress"
                />
            </div>
        </div>

        <twig:TimeScopePager
            :scope="scope"
            variant="full"
        />
    </div>
{% endblock %}
