{% set presentation = page_image_presentation(block.data) %}
<figure class="{{ presentation.figureClassString }}">
    <a href="{{ block.data.src|default('') }}"
       data-fslightbox="content-gallery"
       class="d-block page-content-image__link">
        <img class="card-img-top"
             src="{{ block.data.src|default('') }}"
             alt="{{ block.data.alt|default('') }}"
             {% if presentation.imgWidth and presentation.imgHeight %}
                 width="{{ presentation.imgWidth }}"
                 height="{{ presentation.imgHeight }}"
             {% endif %}
             loading="lazy">
    </a>
    {% if block.data.caption|default('') is not empty %}
        <figcaption class="card-body py-2">
            <p class="text-secondary small mb-0">{{ block.data.caption }}</p>
        </figcaption>
    {% endif %}
</figure>
