{% trans_default_domain 'errors' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{{ 'title.error'|trans({}, 'errors') }} — {{ app_title }}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block javascripts %}
        {{ importmap('error_page') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<div class="page d-flex flex-column flex-grow-1">
    <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 mb-0">
                <a class="text-black" href="{{ path('app_default') }}">{{ app_title }}</a>
            </h1>
        </div>
    </header>

    <div class="page-wrapper d-flex flex-column flex-grow-1">
        <div class="page-body d-flex flex-grow-1 align-items-center">
            <div class="container-tight py-4 w-100">
                {% block error_content %}{% endblock %}
            </div>
        </div>
        {{ include('@Twig/Exception/_footer_include.html.twig') }}
    </div>
</div>
</body>
</html>
